@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.body {
  margin: 0;
  font-family: "Montserrat";
  background: #2c2c2c;
  font-size: 18px;
  height: 100px;
}
